<ion-header no-shadow>
  <ion-toolbar style="border-bottom-left-radius: 100%; border-bottom-right-radius: 100%;height: 30%;" color="primary">
  </ion-toolbar>
  <img style="border-radius: 100%;position: relative;" class="logo" src="../../../assets/img/logo.png" >
  <h5 style="text-align: center; color: #3d71b5; font-weight: bold; margin: 0;">{{titre | uppercase}}</h5>
</ion-header>

<ion-content padding>
  <section>
    <p>{{data}}</p>
  </section>

  <ion-grid fixed>
    <ion-row>
      <ion-col col-6>
        <ion-card text-center button='true' padding color="primary-contrast" >
          <img class="menuicon" src="../../../assets/img/loan.png">
          <h5 style="font-weight: bold; color:#3d71b5;" style="font-weight: bold; color:#3d71b5;">Mes Prets</h5>
        </ion-card>
      </ion-col>
      <ion-col col-6>
        <ion-card text-center padding button='true' color="primary-contrast" > 
          <img class="menuicon" src="../../../assets/img/click.png">
          <h5 style="font-weight: bold; color:#3d71b5;">Autres Services</h5>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <ion-card text-center padding button='true' color="primary-contrast" > 
          <img class="menuicon" src="../../../assets/img/pin.png">
          <h5 style="font-weight: bold; color:#3d71b5;">Nos Agences</h5>
        </ion-card>
      </ion-col>
      <ion-col col-6>
        <ion-card text-center padding button='true' color="primary-contrast" > 
          <img class="menuicon" src="../../../assets/img/news.png">
          <h5 style="font-weight: bold; color:#3d71b5;">Nouveautes</h5>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <ion-card text-center padding button='true' color="primary-contrast" > 
          <img class="menuicon" src="../../../assets/img/calendar.png">
          <h5 style="font-weight: bold; color:#3d71b5;">Rendez-vous</h5>
        </ion-card>
      </ion-col>
      <ion-col col-6>
        <ion-card text-center padding button='true' color="primary-contrast" > 
          <img class="menuicon" src="../../../assets/img/message.png">
          <h5 style="font-weight: bold; color:#3d71b5;">Reclamations</h5>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <ion-card text-center padding button='true' color="primary-contrast" > 
          <img class="menuicon" src="../../../assets/img/question.png">
          <h5 style="font-weight: bold; color:#3d71b5;">FAQ</h5>
        </ion-card>
      </ion-col>
      <ion-col col-6>
        <ion-card text-center padding button='true' color="primary-contrast" > 
          <img class="menuicon" src="../../../assets/img/review.png">
          <h5 style="font-weight: bold; color:#3d71b5;">Histoires</h5>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
