<ion-header no-shadow>
  <ion-toolbar style="border-bottom-left-radius: 100%; border-bottom-right-radius: 100%;height: 30%;" color="primary">
  </ion-toolbar>
  <img style="border-radius: 100%;position: relative;" class="logo" src="../../../assets/img/logo.png" >
  <h5 style="text-align: center; color: #3d71b5; font-weight: bold; margin: 0;">{{titre | uppercase}}</h5>
</ion-header>

<ion-content>
  <ion-card class="padding">
    <div><ion-label><ion-icon name="notifications-outline"></ion-icon><span style="color:#3d71b5;font-weight: 700;">Notification</span><span style="color: #87bc41;font-weight: 700;">Selfcare</span></ion-label></div>
    <div>
      <ion-row>
        <ion-col col-6><span style="font-weight: 900;">Titre de notif</span></ion-col>
        <ion-col col-6><span style="font-weight: 700;">00h00 | DD/MM/YYYY</span></ion-col>
      </ion-row>
    </div>
    <div class="padding">
      <ion-text>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum sapiente velit ratione dolorem id</ion-text>
    </div>
  </ion-card>
  <ion-card class="padding">
    <div><ion-label><ion-icon name="notifications-outline"></ion-icon><span style="color:#3d71b5;font-weight: 700;">Notification</span><span style="color: #87bc41;font-weight: 700;">Selfcare</span></ion-label></div>
    <div>
      <ion-row>
        <ion-col col-6><span style="font-weight: 900;">Titre de notif</span></ion-col>
        <ion-col col-6><span style="font-weight: 700;">00h00 | DD/MM/YYYY</span></ion-col>
      </ion-row>
    </div>
    <div class="padding">
      <ion-text>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum sapiente velit ratione dolorem id</ion-text>
    </div>
  </ion-card>
  <ion-card class="padding">
    <div><ion-label><ion-icon name="notifications-outline"></ion-icon><span style="color:#3d71b5;font-weight: 700;">Notification</span><span style="color: #87bc41;font-weight: 700;">Selfcare</span></ion-label></div>
    <div>
      <ion-row>
        <ion-col col-6><span style="font-weight: 900;">Titre de notif</span></ion-col>
        <ion-col col-6><span style="font-weight: 700;">00h00 | DD/MM/YYYY</span></ion-col>
      </ion-row>
    </div>
    <div class="padding">
      <ion-text>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum sapiente velit ratione dolorem id</ion-text>
    </div>
  </ion-card>
  <ion-card class="padding">
    <div><ion-label><ion-icon name="notifications-outline"></ion-icon><span style="color:#3d71b5;font-weight: 700;">Notification</span><span style="color: #87bc41;font-weight: 700;">Selfcare</span></ion-label></div>
    <div>
      <ion-row>
        <ion-col col-6><span style="font-weight: 900;">Titre de notif</span></ion-col>
        <ion-col col-6><span style="font-weight: 700;">00h00 | DD/MM/YYYY</span></ion-col>
      </ion-row>
    </div>
    <div class="padding">
      <ion-text>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum sapiente velit ratione dolorem id</ion-text>
    </div>
  </ion-card>
  <ion-card class="padding">
    <div><ion-label><ion-icon name="notifications-outline"></ion-icon><span style="color:#3d71b5;font-weight: 700;">Notification</span><span style="color: #87bc41;font-weight: 700;">Selfcare</span></ion-label></div>
    <div>
      <ion-row>
        <ion-col col-6><span style="font-weight: 900;">Titre de notif</span></ion-col>
        <ion-col col-6><span style="font-weight: 700;">00h00 | DD/MM/YYYY</span></ion-col>
      </ion-row>
    </div>
    <div class="padding">
      <ion-text>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum sapiente velit ratione dolorem id</ion-text>
    </div>
  </ion-card>
</ion-content>
