<ion-content padding>
  <div class="login-logo">
    <img src="assets/img/logo-fr.png" alt="App logo">
  </div>
  <div class="welcometext">
    <h5 style="text-align: center; color: #3d71b5; font-weight: bold">Connectez-vous maintenant</h5>
    <p style="text-align: center; font-size: smaller; color: #989aa2;">Connectez-vous pour continuer à utiliser notre
      application</p>
  </div>
  <form [formGroup]="credentialsForm" class='form'>

    <ion-item padding >
      <ion-label position="floating"><ion-icon name="person-circle-outline"></ion-icon>Email</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <br>
    <ion-item padding >
      <ion-label position="floating"><ion-icon name="lock-open-outline"></ion-icon>Password</ion-label>
      <ion-grid style="margin: 0 !important; width: 100% !important;">
        <ion-row>
          <ion-input [type]="passwordType" formControlName="password" clearOnEdit="false"></ion-input>
          <ion-icon class="floatIcon" [name]="passwordIcon" (click)="hideShowPassword()"></ion-icon>
        </ion-row>
      </ion-grid>
    </ion-item>
    <br>
    <div class="forget-password" style="text-align: center; align-items: center;" >
      <a class="padding" style="text-align: center; color: #3d71b5;">Mot de passe oublié!</a>
    </div>
  </form>

  <section style="position: relative; bottom: -10%;">
    <ion-button expand="full"  (click)="onSubmit()" [disabled]="!credentialsForm.valid" >Connexion</ion-button>
    <p style="text-align: center; align-items: center;">Vous n'avez pas de compte? <a style="color: #3d71b5; font-weight: bold;" (click)="goToRegisterPage()">S'inscrire</a></p>
  </section>

</ion-content>