<ion-header no-shadow>
  <ion-toolbar style="border-bottom-left-radius: 100%; border-bottom-right-radius: 100%;height: 30%;" color="primary">
  </ion-toolbar>
  <img style="border-radius: 100%;position: relative;" class="logo" src="../../../assets/img/logo.png">
  <h5 style="text-align: center; color: #3d71b5; font-weight: bold; margin: 0;">{{titre | uppercase}}</h5>
</ion-header>

<ion-content class="ion-padding">
  <ion-text class="ion-padding">
    <br>
    <div style="text-align: justify;"> L'application <span style="font-weight: bold; color: #87bc41;">Selfcare</span> est accessible 24h/24h et
      7j/7j.
      L'application est éditée par AI Amana Microfinance qui est une association à but non lucratif, régie par le dahir
      du
      15/11/1958 et les lois 18/97 et 58/03 relatives à l'exercice de l'activité du micro-crédit.</div>
    <br>
    <div style="text-align: justify;"><span style="font-weight: bold;">Al Amena Microfinance</span> offre ses services dans une application mobile
      que vous pouvez utiliser depuis votre smartphone ou bien vos tablettes, quel que soit sur le système Android ou
      l’iOS.</div>
    <br>
    <div style="text-align: justify;">Les services donnés sont sous formes des produits financiers tels que : le prêt solidaire, le prêt individuel à
      l'entreprise, le prêt individuel au logement, destinés à la promotion des activités génératrices de revenus, à
      l'amélioration du logement ou encore son raccordement à l'électricité ou à l'eau potable. L'offre de al Amana
      microfinance comprend également, des services non financiers de formation, d'accompagnement, et d'appui à la
      commercialisation et à la visibilité des produits de ses clients.</div>
  </ion-text>
</ion-content>